@model SurveyPage.ViewModels.SurveyResponseViewModel

@{
    ViewBag.Title = "TakeSurvey";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <h2>@Model.SurveyName</h2>

    //foreach (var item in Model.SurveyQuestions)
    for (int i = 0; i < Model.SurveyQuestions.Count; i++)
    {
        <div class="form-group">
            <div>
                @*@Html.DisplayFor(modelItem => item.SurveyQuestion)*@
                @Html.DisplayFor(modelItem => modelItem.SurveyQuestions[i].SurveyQuestion)
            </div>
            <div>
                @for (int c = 0; c < 5; c++)
                {
                    @Html.RadioButtonFor(modelItem => modelItem.QuestionAnswers[i].QuestionAnswer, c + 1)
                    @Html.HiddenFor(modelItem => modelItem.QuestionAnswers[i].QuestionId)
                }
            </div>
            <div>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </div>
        </div>
    }
    <input type="submit" value="Submite Response" />

}