@model SurveyPage.ViewModels.SurveyResponseViewModel

@{
    ViewBag.Title = "TakeSurvey";
}

<h2>TakeSurvey</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    //foreach (var item in Model.SurveyQuestions)
    for (int i = 0; i < Model.SurveyQuestions.Count; i++)       
        {
        <div class="form-group">
            <div>
                @*@Html.DisplayFor(modelItem => item.SurveyQuestion)*@
                @Html.DisplayFor(modelItem => modelItem.SurveyQuestions[i].SurveyQuestion)
            </div>
            <div>
                @for (int c = 0; c < 5; c++)
                {
                @Html.RadioButtonFor(x=> x.QuestionAnswers[i].QuestionAnswer, i+1)
                    
                }
            </div>
            <div>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </div>
        </div>
    }
}